*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

.wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

img{
    position: relative;
    width: 100%;
    height: 100%;
}
.game-info{
    color: black;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    background-color: lightgreen;
    border: solid 1px rgb(255, 255, 255, 0.25);
    padding: 0.5rem 3rem;
    text-align: center;
}
.tic-tac-toe{
    width: 90%;
    max-width: 20rem;
    background-color: rgba(255, 255, 255, 0.15);
    border: solid 1px rgb(255, 255, 255, 0.25);
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    aspect-ratio: 1/1;
    margin-top: 3rem;
    position: absolute;
}

.box{
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box1, .box2, .box4, .box5{
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.box7, .box8{
    border-right: 2px solid black;
}

.box3, .box6{
    border-bottom: 2px solid black;
}

.btn{
    color: black;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
    border: solid 1px rgb(255, 255, 255, 0.25);
    padding: 0.5rem 2rem;
    cursor: pointer;
    background-color: lightgreen;
    display: none;
}
.btn.active{
    display: flex;
}

.win{
    background-color: rgb(0, 255, 0, 0.3);
}